Test_To_Delete/Model/Aussie Ale.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RECIPES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RECIPE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NAME" type="xs:string" />
              <xs:element name="VERSION" type="xs:unsignedByte" />
              <xs:element name="TYPE" type="xs:string" />
              <xs:element name="BREWER" type="xs:string" />
              <xs:element name="ASST_BREWER" />
              <xs:element name="BATCH_SIZE" type="xs:decimal" />
              <xs:element name="BOIL_SIZE" type="xs:decimal" />
              <xs:element name="BOIL_TIME" type="xs:decimal" />
              <xs:element name="EFFICIENCY" type="xs:decimal" />
              <xs:element name="HOPS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="HOP">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NAME" type="xs:string" />
                          <xs:element name="VERSION" type="xs:unsignedByte" />
                          <xs:element name="ORIGIN" type="xs:string" />
                          <xs:element name="ALPHA" type="xs:decimal" />
                          <xs:element name="AMOUNT" type="xs:decimal" />
                          <xs:element name="USE" type="xs:string" />
                          <xs:element name="TIME" type="xs:decimal" />
                          <xs:element name="NOTES" type="xs:string" />
                          <xs:element name="TYPE" type="xs:string" />
                          <xs:element name="FORM" type="xs:string" />
                          <xs:element name="BETA" type="xs:decimal" />
                          <xs:element name="HSI" type="xs:decimal" />
                          <xs:element name="DISPLAY_AMOUNT" type="xs:string" />
                          <xs:element name="INVENTORY" type="xs:string" />
                          <xs:element name="DISPLAY_TIME" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FERMENTABLES">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="FERMENTABLE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NAME" type="xs:string" />
                          <xs:element name="VERSION" type="xs:unsignedByte" />
                          <xs:element name="TYPE" type="xs:string" />
                          <xs:element name="AMOUNT" type="xs:decimal" />
                          <xs:element name="YIELD" type="xs:decimal" />
                          <xs:element name="COLOR" type="xs:decimal" />
                          <xs:element name="ADD_AFTER_BOIL" type="xs:string" />
                          <xs:element name="ORIGIN" type="xs:string" />
                          <xs:element name="SUPPLIER" />
                          <xs:element name="NOTES" type="xs:string" />
                          <xs:element name="COARSE_FINE_DIFF" type="xs:decimal" />
                          <xs:element name="MOISTURE" type="xs:decimal" />
                          <xs:element name="DIASTATIC_POWER" type="xs:decimal" />
                          <xs:element name="PROTEIN" type="xs:decimal" />
                          <xs:element name="MAX_IN_BATCH" type="xs:decimal" />
                          <xs:element name="RECOMMEND_MASH" type="xs:string" />
                          <xs:element name="IBU_GAL_PER_LB" type="xs:decimal" />
                          <xs:element name="DISPLAY_AMOUNT" type="xs:string" />
                          <xs:element name="INVENTORY" type="xs:string" />
                          <xs:element name="POTENTIAL" type="xs:decimal" />
                          <xs:element name="DISPLAY_COLOR" type="xs:string" />
                          <xs:element name="EXTRACT_SUBSTITUTE" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="YEASTS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="YEAST">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NAME" type="xs:string" />
                          <xs:element name="VERSION" type="xs:unsignedByte" />
                          <xs:element name="TYPE" type="xs:string" />
                          <xs:element name="FORM" type="xs:string" />
                          <xs:element name="AMOUNT" type="xs:decimal" />
                          <xs:element name="AMOUNT_IS_WEIGHT" type="xs:string" />
                          <xs:element name="LABORATORY" type="xs:string" />
                          <xs:element name="PRODUCT_ID" type="xs:unsignedShort" />
                          <xs:element name="MIN_TEMPERATURE" type="xs:decimal" />
                          <xs:element name="MAX_TEMPERATURE" type="xs:decimal" />
                          <xs:element name="FLOCCULATION" type="xs:string" />
                          <xs:element name="ATTENUATION" type="xs:decimal" />
                          <xs:element name="NOTES" type="xs:string" />
                          <xs:element name="BEST_FOR" type="xs:string" />
                          <xs:element name="MAX_REUSE" type="xs:unsignedByte" />
                          <xs:element name="TIMES_CULTURED" type="xs:unsignedByte" />
                          <xs:element name="ADD_TO_SECONDARY" type="xs:string" />
                          <xs:element name="DISPLAY_AMOUNT" type="xs:string" />
                          <xs:element name="DISP_MIN_TEMP" type="xs:string" />
                          <xs:element name="DISP_MAX_TEMP" type="xs:string" />
                          <xs:element name="INVENTORY" type="xs:string" />
                          <xs:element name="CULTURE_DATE" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="STYLE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NAME" type="xs:string" />
                    <xs:element name="VERSION" type="xs:unsignedByte" />
                    <xs:element name="CATEGORY" type="xs:string" />
                    <xs:element name="CATEGORY_NUMBER" type="xs:unsignedByte" />
                    <xs:element name="STYLE_LETTER" type="xs:string" />
                    <xs:element name="STYLE_GUIDE" />
                    <xs:element name="TYPE" type="xs:string" />
                    <xs:element name="OG_MIN" type="xs:decimal" />
                    <xs:element name="OG_MAX" type="xs:decimal" />
                    <xs:element name="FG_MIN" type="xs:decimal" />
                    <xs:element name="FG_MAX" type="xs:decimal" />
                    <xs:element name="IBU_MIN" type="xs:decimal" />
                    <xs:element name="IBU_MAX" type="xs:decimal" />
                    <xs:element name="COLOR_MIN" type="xs:decimal" />
                    <xs:element name="COLOR_MAX" type="xs:decimal" />
                    <xs:element name="CARB_MIN" type="xs:decimal" />
                    <xs:element name="CARB_MAX" type="xs:decimal" />
                    <xs:element name="ABV_MAX" type="xs:decimal" />
                    <xs:element name="ABV_MIN" type="xs:decimal" />
                    <xs:element name="NOTES" type="xs:string" />
                    <xs:element name="PROFILE" />
                    <xs:element name="INGREDIENTS" type="xs:string" />
                    <xs:element name="EXAMPLES" type="xs:string" />
                    <xs:element name="DISPLAY_OG_MIN" type="xs:string" />
                    <xs:element name="DISPLAY_OG_MAX" type="xs:string" />
                    <xs:element name="DISPLAY_FG_MIN" type="xs:string" />
                    <xs:element name="DISPLAY_FG_MAX" type="xs:string" />
                    <xs:element name="DISPLAY_COLOR_MIN" type="xs:string" />
                    <xs:element name="DISPLAY_COLOR_MAX" type="xs:string" />
                    <xs:element name="OG_RANGE" type="xs:string" />
                    <xs:element name="FG_RANGE" type="xs:string" />
                    <xs:element name="IBU_RANGE" type="xs:string" />
                    <xs:element name="CARB_RANGE" type="xs:string" />
                    <xs:element name="COLOR_RANGE" type="xs:string" />
                    <xs:element name="ABV_RANGE" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EQUIPMENT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NAME" type="xs:string" />
                    <xs:element name="VERSION" type="xs:unsignedByte" />
                    <xs:element name="BOIL_SIZE" type="xs:decimal" />
                    <xs:element name="BATCH_SIZE" type="xs:decimal" />
                    <xs:element name="TUN_VOLUME" type="xs:decimal" />
                    <xs:element name="TUN_WEIGHT" type="xs:decimal" />
                    <xs:element name="TUN_SPECIFIC_HEAT" type="xs:decimal" />
                    <xs:element name="TOP_UP_WATER" type="xs:decimal" />
                    <xs:element name="TRUB_CHILLER_LOSS" type="xs:decimal" />
                    <xs:element name="EVAP_RATE" type="xs:decimal" />
                    <xs:element name="BOIL_TIME" type="xs:decimal" />
                    <xs:element name="CALC_BOIL_VOLUME" type="xs:string" />
                    <xs:element name="LAUTER_DEADSPACE" type="xs:decimal" />
                    <xs:element name="TOP_UP_KETTLE" type="xs:decimal" />
                    <xs:element name="HOP_UTILIZATION" type="xs:decimal" />
                    <xs:element name="COOLING_LOSS_PCT" type="xs:decimal" />
                    <xs:element name="NOTES" type="xs:string" />
                    <xs:element name="DISPLAY_BOIL_SIZE" type="xs:string" />
                    <xs:element name="DISPLAY_BATCH_SIZE" type="xs:string" />
                    <xs:element name="DISPLAY_TUN_VOLUME" type="xs:string" />
                    <xs:element name="DISPLAY_TUN_WEIGHT" type="xs:string" />
                    <xs:element name="DISPLAY_TOP_UP_WATER" type="xs:string" />
                    <xs:element name="DISPLAY_TRUB_CHILLER_LOSS" type="xs:string" />
                    <xs:element name="DISPLAY_LAUTER_DEADSPACE" type="xs:string" />
                    <xs:element name="DISPLAY_TOP_UP_KETTLE" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MASH">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NAME" type="xs:string" />
                    <xs:element name="VERSION" type="xs:unsignedByte" />
                    <xs:element name="GRAIN_TEMP" type="xs:decimal" />
                    <xs:element name="TUN_TEMP" type="xs:decimal" />
                    <xs:element name="SPARGE_TEMP" type="xs:decimal" />
                    <xs:element name="PH" type="xs:decimal" />
                    <xs:element name="TUN_WEIGHT" type="xs:decimal" />
                    <xs:element name="TUN_SPECIFIC_HEAT" type="xs:decimal" />
                    <xs:element name="EQUIP_ADJUST" type="xs:string" />
                    <xs:element name="NOTES" type="xs:string" />
                    <xs:element name="DISPLAY_GRAIN_TEMP" type="xs:string" />
                    <xs:element name="DISPLAY_TUN_TEMP" type="xs:string" />
                    <xs:element name="DISPLAY_SPARGE_TEMP" type="xs:string" />
                    <xs:element name="DISPLAY_TUN_WEIGHT" type="xs:string" />
                    <xs:element name="MASH_STEPS">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="MASH_STEP">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NAME" type="xs:string" />
                                <xs:element name="VERSION" type="xs:unsignedByte" />
                                <xs:element name="TYPE" type="xs:string" />
                                <xs:element name="INFUSE_AMOUNT" type="xs:decimal" />
                                <xs:element name="STEP_TIME" type="xs:decimal" />
                                <xs:element name="STEP_TEMP" type="xs:decimal" />
                                <xs:element name="RAMP_TIME" type="xs:decimal" />
                                <xs:element name="END_TEMP" type="xs:decimal" />
                                <xs:element name="DESCRIPTION" type="xs:string" />
                                <xs:element name="WATER_GRAIN_RATIO" type="xs:string" />
                                <xs:element name="DECOCTION_AMT" type="xs:string" />
                                <xs:element name="INFUSE_TEMP" type="xs:string" />
                                <xs:element name="DISPLAY_STEP_TEMP" type="xs:string" />
                                <xs:element name="DISPLAY_INFUSE_AMT" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NOTES" type="xs:string" />
              <xs:element name="TASTE_NOTES" type="xs:string" />
              <xs:element name="TASTE_RATING" type="xs:decimal" />
              <xs:element name="OG" type="xs:decimal" />
              <xs:element name="FG" type="xs:decimal" />
              <xs:element name="CARBONATION" type="xs:decimal" />
              <xs:element name="FERMENTATION_STAGES" type="xs:unsignedByte" />
              <xs:element name="PRIMARY_AGE" type="xs:decimal" />
              <xs:element name="PRIMARY_TEMP" type="xs:decimal" />
              <xs:element name="SECONDARY_AGE" type="xs:decimal" />
              <xs:element name="SECONDARY_TEMP" type="xs:decimal" />
              <xs:element name="TERTIARY_AGE" type="xs:decimal" />
              <xs:element name="AGE" type="xs:decimal" />
              <xs:element name="AGE_TEMP" type="xs:decimal" />
              <xs:element name="CARBONATION_USED" type="xs:string" />
              <xs:element name="FORCED_CARBONATION" type="xs:string" />
              <xs:element name="PRIMING_SUGAR_NAME" type="xs:string" />
              <xs:element name="PRIMING_SUGAR_EQUIV" type="xs:decimal" />
              <xs:element name="KEG_PRIMING_FACTOR" type="xs:decimal" />
              <xs:element name="CARBONATION_TEMP" type="xs:decimal" />
              <xs:element name="DISPLAY_CARB_TEMP" type="xs:string" />
              <xs:element name="DATE" type="xs:string" />
              <xs:element name="EST_OG" type="xs:string" />
              <xs:element name="EST_FG" type="xs:string" />
              <xs:element name="EST_COLOR" type="xs:string" />
              <xs:element name="IBU" type="xs:string" />
              <xs:element name="IBU_METHOD" type="xs:string" />
              <xs:element name="EST_ABV" type="xs:string" />
              <xs:element name="ABV" type="xs:string" />
              <xs:element name="ACTUAL_EFFICIENCY" type="xs:string" />
              <xs:element name="CALORIES" type="xs:string" />
              <xs:element name="DISPLAY_BATCH_SIZE" type="xs:string" />
              <xs:element name="DISPLAY_BOIL_SIZE" type="xs:string" />
              <xs:element name="DISPLAY_OG" type="xs:string" />
              <xs:element name="DISPLAY_FG" type="xs:string" />
              <xs:element name="DISPLAY_PRIMARY_TEMP" type="xs:string" />
              <xs:element name="DISPLAY_SECONDARY_TEMP" type="xs:string" />
              <xs:element name="DISPLAY_TERTIARY_TEMP" type="xs:string" />
              <xs:element name="DISPLAY_AGE_TEMP" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>